.cardBox {
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    float: left;
    margin-right: 10px;
    padding: 5px;
    padding-top: 15px;
    border-radius: 5px;
    margin: 5px;
    flex-grow: 0;
    flex-shrink: 0;
}

.headerBox {
    color: #fff;
    padding: 10px;
    font-size: 15px;
    height: 40px;
    background-color: #5BC0DE;
    border-radius: 5px;
}

.bodyBox {
    padding: 10px;
}

.bodyBox p {
    margin-left: 5px;
}

.boxGroup {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
